*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.form-row{
    margin-top: 5%;
    flex-direction: column;
}
.form-horizontal{
    margin-right: 51%;
    justify-content: center;
}
span{
    opacity: 0.5;
}
.btn{
    margin-top: 1%;
}
.primer{
height: 190px;
width: 300px;
}
