*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.ne-header{
display: flex;
  height: 970px;
    margin: 0 auto;
    background-image: url(../img/kelvin_17_12385_oboi_skin_avtomata_cs_go_1920x1080.png);
justify-content: center;
}
.wrapper{
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial;
}

.ne-header{
  display: flex;
  height: 940px;
    font-family: 'Montserrat', sans-serif;

}
.square {
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.5);
  height: 25%;
  width: 400px;
  background-color: white;
  margin: auto;
  border-radius: 50px;
  opacity: 0;
  transition: .5s all;
  animation: show 3s 1;
  animation-fill-mode: forwards;
box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.5);
}
.form-group{
  display: flex;
  margin-top: 8%;
  width: 90%;
  margin-left:5% ;
}
.btn{
  margin-left:27%;

}

.join{
  display: flex;
  justify-content: center;
  color: orange;
  text-decoration-line: none;
  /* transition: .5s all; */
}
.register{
  color: orange;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  text-decoration-line: none;
  /* transition: .5s all; */
}


@keyframes show{
  100%{
  opacity:1;
  }
  100% {
  opacity:1;
  }
  }
